html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.no-padding-no-margin {
  padding: 0;
  margin: 0;
}
.flex-col {
  flex-direction: column;
}
#ruler-horizontal {
  width: 100%;
  height: 20px;
}
#ruler-vertical {
  width: 20px;
  height: 100%;
}
canvas {
  display: block;
}
